<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="OUTFIT OF THE DAY" version="1.0">

	<name>OUTFIT OF THE DAY</name>
	<description>OUTFIT OF THE DAY</description>
	<author>JESSA IBO</author>	<gap:platforms>
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>
	
	<icon src="images/icon-57.png" gap:platform="ios" width="57" height="57" />
	<icon src="images/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="images/icon-114.png" gap:platform="ios" width="114" height="114" />

	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<icon src="images/icon-144.png" gap:platform="ios" width="144" height="144" />
	
	<icon src="images/icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="images/icon-120.png" gap:platform="ios" width="120" height="120" />
	<icon src="images/icon-152.png" gap:platform="ios" width="152" height="152" />


	<icon src="images/icon-150.png" gap:role="default" />
	<preference name="phonegap-version" value="3.1.0" />
	
	<access origin="*" subdomains="true" />
	<access uri="*" subdomains="true" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
	</feature>
	<feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
	</feature>
	
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="target-device" value="universal" />

</widget>
